.route-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.measurement-container {
  width: 50%;
  height: 50%;
}

.measurement-container__title {
  text-align: center;
}

.measurement-container__content {
  text-align: center;
  margin-top: 1rem;
}

.measurement-container__img {
  text-align: center;
  margin-top: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.measurement {
  border: 1px solid black;
  margin-top: 0.5rem;
  border-radius: 5rem;
}

img {
  width: 175px;
  height: 100px;
}
